*{
    font-family:sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color:#FD6E0A;
    border-radius:5px;
    border:0;
    color:#fff;
    font-size: 20px;
    font-weight:700;
    padding:15px 35px;

    
}
/* Nav related style */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-title{
    color:black;
    font-size: 45px;
    font-weight:800;
}
nav > ul{
    display:flex;
    align-items:center;
}
nav li{
    list-style:none;
    margin-right:51px;
}
nav a{
    text-decoration:none;
    color: #474747;
}
